# Latex files

*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.tui
*.top
*.tmp
*.mp
*.dvi
*.glg
*.gls
*.fls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.synctex.gz(busy)
main.pdf
angular_the_full_gamut.pdf
angular_the_full_gamut_rough_draft.pdf
*.DS_Store
*.fdb_latexmk

# Mac IDE files
*.swp
*~
*(Autosaved).rtfd/
Backup[ ]of[ ]*.pages/
Backup[ ]of[ ]*.key/
Backup[ ]of[ ]*.numbers/

# Mac finder files and hidden folders
.DS_Stores
.DS_Store
.idea/

node_modules
.env
.vscode
.dccache

# Razroo Markdown Engine
build
main-book.md
